.caja{
    
    background-color: white;
    border: 1px solid blueviolet;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    font-size:x-large;
    color: black;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8); /* sombra que mejora la legibilidad */
    background-size: cover;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(4, auto); 
    gap: 15px;
}

div{
    font-family: 'Times New Roman', Times, serif;
    text-decoration:underline;
    text-shadow: #dbeafe 0;
    
}